@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
    background-color: rgb(0, 10, 16);
    text-align: left;
    font-family: 'JetBrains Mono', monospace;
    color:rgb(163, 221, 255);
    height: auto;
    padding: 2%;
    
}
#terminal {
    background-color: rgb(20, 20, 20);
    padding: 0%;
    height: auto;
}